.aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 386px;
	background-color: #222;
	color: white;
}

.ruler {
	width: 90%;
	margin: 5px;
	border-color: #444;
}

.event-feed {
	overflow-y: auto;
	width: 95%;
	margin: 0px 5px 5px 5px;
}

.event-feed::-webkit-scrollbar-track {
	border-radius: 2px;
	background: #222222;
	box-shadow: inset 1px 1px 2px #1b1b1b, inset -1px -1px 2px #292929;
}

.event-feed::-webkit-scrollbar {
	width: 10px;
	background-color: #444;
}

.event-feed::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: linear-gradient(145deg, #1b1b1b, #292929);
	box-shadow: 1px 1px 2px #1b1b1b, -1px -1px 2px #292929;
}

@media only screen and (max-width: 768px) {
	.aside {
		display: none;
	}
}
