.event-card {
	background-color: #444;
	margin: 10px 5px 10px 5px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 5px 7px rgba(0, 0, 0, 0.2);
}

.card-title {
	margin-top: 2px;
}

a {
	color: #ff9a00;
	text-decoration: none;
}

a:visited {
	color: #ff6600;
}

.card-text {
	margin: 2px;
}
