.event-card {
	margin: 20px 15px 20px 15px;
	padding: 20px;
	border-radius: 10px;
	background: #222222;
	box-shadow: 5px 5px 10px #1b1b1b, -5px -5px 10px #292929;
}

.card-title {
	margin-top: 2px;
}

a {
	color: #ff9a00;
	text-decoration: none;
}

a:visited {
	color: #ff6600;
}

.card-text {
	margin: 2px;
}
